.createItemBtn {
    z-index: 4;
    position: fixed;
    bottom: 1.9rem;
    right: 1.6rem;
    font-size: var(--text-md);
    line-height: var(--md-line);
    font-weight: var(--semibold);
    color: var(--white);
    background-color: var(--brand-purple-600);
    padding: 1rem 1.8rem;
    border-radius: 1.2rem;
}

.plus {
    display: inline-block;
    margin-right: 0.8rem;
}