.input {
    margin-top: 3.2rem;
    margin-bottom: 0.6rem;
}

.input div {
    border-radius: 1.2rem;
    padding: 1rem 1.4rem;
}

.input svg {
    width: 2rem;
    height: 2rem;
}

.input label {
    font-size: var(--text-sm);
    line-height: var(--sm-line);
    font-weight: var(--medium);
    color: var(--gray-700);
}

.eyeIcon {
    position:absolute;
    top: 73%;
    right: 1.6rem;
    transform: translateY(-50%);
    color: var(--gray-500);
}