.container {
    margin-bottom: 7.6rem;
    padding-top: 4rem;
}

.donationsContainer {
    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
        
    }

    div[aria-label="Card Component"] {
        width: 100%;

        @media (min-width: 1024px) {
            width: 30.4rem;
        }
    }
}

.title {
    font-size: var(--h4);
    line-height: var(--h4-line);
    font-weight: var(--semibold);
    color: var(--gray-900);
}

.inputMargin {
    margin-top: 2.4rem;
}