.btn{
    font-size: var(--text-md);
    font-weight: var(--semibold);
    padding: 10px 18px;
    width: 140px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--brand-purple-600);
}

.outline{
    border-width: 1px;
    border-color: var(--brand-purple-500);
    color: var(--brand-purple-700);
    background-color: var(--brand-purple-50);
}

.sectionHomePrimary{
    background-color: #ecdff5;
    padding-top: 5.6rem;
}

.image {
    height: 280px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    z-index: 1;
}

.registerButtonsContainer {
    padding: 16px;
}

.opportunityContainer {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
    padding: 0 1.6rem;
    max-width: 70%;
}