
.footer{
    padding-left: 16px;
    padding-bottom: 48px;
    padding-top: 48px;
    background-color: var(--backgroundC);
    border-top: 0.1rem solid var(--gray-200);
    margin-top: 4rem;

    @media (min-width: 1024px) {
        margin-top: 0;
    }
}

.categoryTitle{
    color: var(--gray-600);
    font-size: var(--text-sm);
    line-height: var(--sm-line);
    font-weight: var(--semibold);
    margin-bottom: 1.6rem;
}

.categoryItem{
    color: var(--gray-900);
    font-size: var(--text-md);
    line-height: var(--md-line);
    font-weight: var(--semibold);
}

.privacyLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @media (min-width: 1024px) {
        flex-direction: row;
        align-self: end;
        margin-right: 3.2rem;
    }
}

.privacyLinks {
    font-size: var(--text-md);
    line-height: var(--md-line);
    font-weight: var(--regular);
    color: var(--gray-900);
}