.paragraph {
    color: var(--gray-900);
}

.sm {
    font-size: var(--text-sm);
    line-height: var(--sm-line);
}

.md {
    font-size: var(--text-md);
    line-height: var(--md-line);
}

.lg {
    font-size: var(--text-lg);
    line-height: var(--lg-line);
}

.secondary {
    color: var(--gray-600);
}

.regular {
    font-weight: var(--regular);
}

.medium {
    font-weight: var(--medium);
}

.semibold {
    font-weight: var(--semibold);
}

.bold {
    font-weight: var(--bold);
}